{{ layout "base.vto" { title: "Gist hooreique", isHomePage: true } }}
<h2>Home</h2>

<p>
  개인용 Gist 리포지토리입니다.
  Source: <a href="https://www.github.com/hooreique/hooreique.github.io">
    github.com/hooreique/hooreique.github.io
  </a>
</p>


<div style="margin-top:4rem;text-align:right">
  Total {{ pagination.totalResults }} scenarios
</div>

<div style="margin-top:4rem;text-align:center">
  {{ if pagination.page === 1 }}
  <span>[1]</span>
  {{ else }}
  <a href="../1/">[1]</a>
  {{ /if }}

  ――

  {{ if pagination.previous }}
  <a href="{{ pagination.previous }}">[Prev]</a>
  {{ else }}
  <span>[Prev]</span>
  {{ /if }}

  ――

  <form class="page" style="display:inline-block">
    <input
      type="number" name="page"
      value="{{ pagination.page }}"
      min="1"
      max="{{ pagination.totalPages }}"
    />
  </form>

  ――

  {{ if pagination.next }}
  <a href="{{ pagination.next }}">[Next]</a>
  {{ else }}
  <span>[Next]</span>
  {{ /if }}

  ――

  {{ if pagination.page === pagination.totalPages }}
  <span>[{{ pagination.totalPages }}]</span>
  {{ else }}
  <a href="../{{ pagination.totalPages }}/">[{{ pagination.totalPages }}]</a>
  {{ /if }}
</div>

<ul>
  {{ for result of results }}
  <li>
    <h3>
      {{ if typeof result.gist === 'string' }}
      <button
        type="button"
        onclick="navigator.clipboard.writeText(this.getAttribute('data-content'))"
        title="Copy the gist part of this scenario to the clipboard"
        style="font-size:0.6em"
        data-content="{{ result.gist }}"
      >📋 Gist</button>
      {{ /if }}

      <a href="{{ result.url }}">{{ result.title }}</a>
    </h3>

    <p>
      {{- if result.content.length > 128 -}}
        {{- result.content.substring(0, 127) -}}

        <span style="color:#a0a0a0">…</span>
      {{- else -}}
        {{- result.content -}}
      {{- /if -}}
    </p>
  </li>
  {{ /for }}
</ul>

<div style="margin-top:4rem;text-align:center">
  {{ if pagination.page === 1 }}
  <span>[1]</span>
  {{ else }}
  <a href="../1/">[1]</a>
  {{ /if }}

  ――

  {{ if pagination.previous }}
  <a href="{{ pagination.previous }}">[Prev]</a>
  {{ else }}
  <span>[Prev]</span>
  {{ /if }}

  ――

  <form class="page" style="display:inline-block">
    <input
      type="number" name="page"
      value="{{ pagination.page }}"
      min="1"
      max="{{ pagination.totalPages }}"
    />
  </form>

  ――

  {{ if pagination.next }}
  <a href="{{ pagination.next }}">[Next]</a>
  {{ else }}
  <span>[Next]</span>
  {{ /if }}

  ――

  {{ if pagination.page === pagination.totalPages }}
  <span>[{{ pagination.totalPages }}]</span>
  {{ else }}
  <a href="../{{ pagination.totalPages }}/">[{{ pagination.totalPages }}]</a>
  {{ /if }}
</div>

<script async>
  addEventListener('load', () => {
    for (const formEl of document.querySelectorAll('form.page')) {
      const inputEl = formEl.querySelector('input');

      if (!inputEl) continue;

      formEl.onsubmit = event => {
        event.preventDefault();
        const p = Number.parseInt(inputEl.value);
        if (p >= 1) location.assign(`../${p}/`);
      };

      formEl.onclick = () => inputEl.focus();
    }
  });
</script>
{{ /layout }}
