<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="dark light">

  <title>{{ title }}</title>

  <style>
  :root{
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
    font-size: 12pt;
  }

  pre, code {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  }

  input {
    font-family: inherit;
    font-size: 0.9em;
  }

  button {
    font-family: inherit;
  }

  a, a:visited {
    color: hsl(200deg 100% 70%);
  }

  @media (prefers-color-scheme: light) {
    a, a:visited {
      color: hsl(200deg 100% 30%);
    }
  }
  </style>

  <style>
  h1 { font-size: 2.3em }
  h2 { font-size: 1.85em }
  h3 { font-size: 1.55em }
  h4 { font-size: 1.3em }
  h5 { font-size: 1.12em }
  h6 { font-size: 1.04em }
  </style>

  <style>
  div.code-block {
    position: relative;
    margin-bottom: 1rem;
  }

  div.code-block > header {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  }

  div.code-block > header > div.attribute-label {
    font-size: 0.8em;
    font-style: italic;
  }

  div.code-block > header > button.copy {
    font-size: 1.2em;
    float: right;
  }

  div.code-block > pre {
    overflow-x: auto;
    margin: 0;
    padding: 2.7rem 1.3rem 1rem 1.3rem;
  }
  </style>

  <!-- shiki-imports -->
</head>

<body>
  <header style="max-width:800px;margin:8rem auto 0 auto">
    <h1 style="text-align:center">
      <a href="{{ isHomePage ? baseUrl : url }}" style="color:unset;text-decoration:none">
        {{- title -}}
      </a>
    </h1>
  </header>

  <main style="max-width:800px;margin:6rem auto 0 auto">
    {{ content |> safe }}
  </main>

  <footer style="max-width:800px;margin:12rem auto">
    <p style="text-align:center;color:#a0a0a0">
      &copy; 2025 hooreique. Free to use unless otherwise noted.
    </p>
  </footer>
</body>
</html>
