<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="color-scheme" content="dark light">

  <title>{{ title }}</title>

  <style>
  :root{
    font-family: monospace;
    font-size: 14pt;
  }

  input {
    font-family: inherit;
    font-size: 0.9em;
  }

  button {
    font-family: inherit;
    font-size: 0.75em;
  }

  a, a:visited {
    color: hsl(200deg 100% 70%);
  }

  @media (prefers-color-scheme: light) {
    a, a:visited {
      color: hsl(200deg 100% 30%);
    }
  }
  </style>

  <!-- shiki-imports -->
</head>

<body>
  <header style="max-width:960px;margin:8rem auto 0 auto">
    <h1 style="text-align:center">
      <a href="/" style="color:unset;text-decoration:none">
        Gist hooreique
      </a>
    </h1>
  </header>

  <main style="max-width:960px;margin:6rem auto 0 auto">
    {{ content |> safe }}
  </main>

  <footer style="max-width:960px;margin:12rem auto">
    <p style="text-align:center;color:#a0a0a0">
      &copy; 2025 hooreique. Free to use unless otherwise noted.
    </p>
  </footer>
</body>
</html>
