{{ layout "base.vto" { title: title } }}
<section>
  <div style="display:flex;justify-content:space-between">
    <button
      type="button"
      onclick="history.back()"
      title="Go back"
      style="font-size:1em"
    >&lt;-</button>

    <button
      type="button"
      onclick="{{ wrapUrl(url) }}"
      title="Copy the URL to the clipboard"
      style="font-size:1em"
    >🔗 URL</button>
  </div>

  <article>{{ content |> safe }}</article>
</section>
{{ /layout }}
