{{ layout "base.vto" { title: title } }}
<section>
  <div style="
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  ">
    <button
      type="button"
      onclick="history.back()"
      title="Go back"
      style="font-size:1em"
    >&lt;-</button>

    <button
      type="button"
      onclick="{{ wrapUrl(url) }}"
      title="Copy the URL to the clipboard"
      style="font-size:1em"
    >🔗 URL</button>
  </div>

  <article>{{ content |> safe }}</article>
</section>

<section class="giscus">
</section>

<script
  src="https://giscus.app/client.js"
  data-repo="hooreique/hooreique.github.io"
  data-repo-id="R_kgDONvT8mw"
  data-category="Announcements"
  data-category-id="DIC_kwDONvT8m84CmWKF"
  data-mapping="pathname"
  data-strict="1"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="ko"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
{{ /layout }}
