{{ layout "base.vto" { title: "Gist hooreique" } }}
<h2>Home</h2>
<p>
  개인용 Gist 리포지토리입니다.
  Source: <a href="https://www.github.com/hooreique/hooreique.github.io">
    github.com/hooreique/hooreique.github.io
  </a>
</p>
{{ /layout }}
